.rst-content img{
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

.wy-table-responsive table, .rst-content table.docutils {
    margin: 0 auto;
    font-size: .7em;
    line-height: 0em;
}