.section img{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.footnote-reference.brackets{
    font-size: .7em;
    display: inline-block;
    position: relative;
    top: -7px;
    left: -3px;
}

table.longtable.align-default td{
    text-align: left;
}

code.sig-prename{
    padding-right: 0;
}
code.sig-name{
    padding-left: 0;
}
/* 
    Table design by Matt smith
    https://codepen.io/AllThingsSmitty/pen/MyqmdM
*/
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    table-layout: fixed;
    font-size: .8em;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .2em 1em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
@media screen and (max-width: 600px) {
    table {
    font-size: .65em;
  }
}